<!DOCTYPE HTML>
<html>
	<head>
		<title>Crossposty</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=VT323&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/assets/css/component.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<article id="intro">
								<h2 style="font-family: 'Press Start 2P', cursive;" class="major">Ошибочка!!!</h2>
								<a href="/" align="center" class="button center">Заново</a>
							</article>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; Andrey Titov</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg3"></div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/jquery.custom-file-input.js"></script>

	</body>
</html>
